body {
  margin: 0;
  padding: 0;
  background-color: #8080ff;
}
main {
  width: 100%;
  display: inline;
  text-align: center;
}
select {
  background-color: black;
  color: white;
  border-radius: 10px;
  outline: none;
  width: 80px;
}
button {
  width: 50px;
  background-color: blue;
  color: white;
  border-radius: 10px;
  border-color: yellow;
  outline: none;
}
